* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*, html {
    --primaryGradient: linear-gradient(93.12deg, #ec4c4c 0.52%, #f26c4f 100%);
    --secondaryGradient: linear-gradient(268.91deg, #f26c4f -2.14%, #f26c4f 99.69%);
    --primaryBoxShadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    --secondaryBoxShadow: 0px -10px 15px rgba(0, 0, 0, 0.1);
    --light: 300;
    --regular: 400;
    --semiBold: 600;
    --extraLight: 300;
    --italic: 300;
    --primary: #222222;
}


body {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 100%;
    background: #F1F1F1;
}


/* CHATBOX
=============== */

.chatbox-container {
    position: sticky;
    bottom: 10px; 
    right: 10px;
}

.chatbox {
    position: absolute;
    bottom: 10px; 
    right: 10px; 
}


/* CONTENT IS CLOSE */
.chatbox__support {
    background: #f9f9f9;    
    height: 450px;
    width: 350px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: column;
    z-index: -123456;
    opacity: 0;
    transition: all .5s ease-in-out;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

/* CONTENT ISOPEN */
.chatbox--active {
    transform: translateY(-40px);
    z-index: 123456;
    opacity: 1;
    
}

/* HEADER */
.chatbox__header {
    background: var(--primaryGradient);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: var(--primaryBoxShadow);
    position: sticky;
    top: 0;
}

.chatbox__image--header {
    margin-right: 10px;
}

.chatbox__heading--header {
    font-size: 1.2rem;
    color: #222222;
}

.chatbox__description--header {
    font-size: .9rem;
    color: #222222;
}

/* Messages */  /* MESSAGES */
.chatbox__messages {
    padding: 0 20px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    flex-direction: column-reverse;
}

.messages__item {
    margin-top: 10px;
    background: #e09c8d; 
    padding: 8px 12px;
    max-width: 70%;
    font-size: 14px;
    width: fit-content;
}

.messages__item--visitor,
.messages__item--typing {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.messages__item--operator {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    background: var(--primary);
    color: white;
    margin-left: auto;
}

.messages__item--visitor {
    margin-right: auto;
}

/* FOOTER */
.chatbox__footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
    background: var(--secondaryGradient);
    box-shadow: var(--secondaryBoxShadow);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 20px;
    position: sticky;
    bottom: 0;
    background-color: #f26c4f;
}

.chatbox__footer input {
    border: none;
    padding: 10px 10px;
    border-radius: 30px;
    text-align: center;
    width: 220px;
}

.chatbox__send--footer {
    color: #222222;
}

.chatbox__button button,
.chatbox__button button:focus,
.chatbox__button button:visited {
    padding: 10px;
    background: #f26c4f;
    border: none;
    outline: none;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}


/* BUTTON */
.chatbox__button {
    text-align: right;
}

/* CHAT SUPPORT BUTTONS */
.chatbox__footer button,
.chatbox__footer button:focus,
.chatbox__footer button:visited {
    background-color: #f26c4f;
    border: none;
    outline: none;
    cursor: pointer;
}


.chatbox__content--header { /* new */
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.mobile__close__chatbox { 
    background-color: #f26c4f;
    cursor: pointer;
    align-self: flex-start;
}

.mobile__close__chatbox button,
.mobile__close__chatbox button:focus,
.mobile__close__chatbox button:visited { 
    background-color: #f26c4f;
    border: none;
    outline: none;
    cursor: pointer;
}




@media screen and (max-width: 768px) {

    /* CHATBOX
=============== */

    .chatbox-container { 
        position: fixed;
        top: 50px;
        height: 100vh;
        width: 100%; 
        right:2px;
        left: 10px;
    }

    .chatbox-opened {
        z-index: 1031; 
    }

    .chatbox { 
        width: 100%;
        height: 90%;
    }


    /* CONTENT IS CLOSE */
    .chatbox__support { 
        background: #f9f9f9;    
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        z-index: -123456;
        opacity: 0;
        transition: all .5s ease-in-out;
        width: 100%;
        height: 400px;
        position: sticky;
    }


    /* CONTENT ISOPEN */
    .chatbox--active {
        transform: translateY(-40px);
        z-index: 123456;
        opacity: 1;
        
    }


    /* HEADER */
    .chatbox__header { 
        position: relative;
        top: 0px;
        width: 100%;
        background: var(--primaryGradient);
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 15px 20px;
        box-shadow: var(--primaryBoxShadow);
        justify-content: space-between;
        border-top-left-radius: 0px;
        border-top-right-radius: 0px;
    }


    /* FOOTER */
    .chatbox__footer { 
        position: relative;
        bottom: 0px;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px 20px;
        background: var(--secondaryGradient);
        box-shadow: var(--secondaryBoxShadow);
        margin-top: 20px;
        background-color: #f26c4f;
        border-bottom-right-radius: 0px;
        border-bottom-left-radius: 0px;
    }

    .chatbox__footer input { 
        border: none;
        padding: 10px 10px;
        border-radius: 30px;
        text-align: center;
        width: 200px;
    }

}




